.container{
  display: flex;
  justify-content: center;
}
.list{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item{
  h4{ 
    font-size: 15px;     
    margin: 0px;
  }
  min-height: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-size: 14px;
  text-align: center;
  padding: 5px 20px 10px;
  margin-bottom: 20px;
  max-width: 750px;
  background: white;
  border-radius: 3px;
}
p{
  margin-bottom: 0px;
}