.ship{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qt{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
  margin-left: 5px;
  position: absolute;
  right: -30px;
}
img {
  height: 30px;
}