.square{
  width: 25px;
  height: 25px;
  margin: 1px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}
.squareHover{
  background-color: rgba(217, 217, 217, 0.9);
}
.shipActive{
  background-color: #1355b0;
}
.shipEnvironment{
  background-color: rgba(211, 210, 210, 0.8);
}