.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  width: 200px;
  height: 200px;
  padding: 24px 40px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  position: relative;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 10px;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  min-height: 250px;

  &__subtitle {
    margin: 0px 0px 20px;
    text-align: center;
    color: rgb(94, 108, 132);
    font-weight: 100;
  }
}
.m-bottom{
  margin-bottom: 10px;
}
.ocean {
  background-image: linear-gradient(120deg, #89f7fe, #66a6ff);
  height: calc(100vh - 121px);
  position: relative;
  overflow: hidden;
}
ul {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;    
  li {
    background: #ecfcff;
    margin: -175px;
    height: 355px;
    border-radius: 31%;
    width: 500px;
    -webkit-animation: spin 9s linear infinite;
            animation: spin 9s linear infinite;
  }
  li:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  li:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  li:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
}
.ship-wrap {
  position: absolute;
  left: 11%;
  top: 15%;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  .main {
    width: 100px;
    height: 22.2222222222px;
    background-color: #684000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 88.8888888889px;
    z-index: 2;
    -webkit-animation: ship 3s linear infinite;
            animation: ship 3s linear infinite;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border: 0;
    }
    &:before {
      left: -22.2222222222px;
      border-top: 22.2222222222px solid #684000;
      border-left: 22.2222222222px solid transparent;
      border-bottom: 22.2222222222px solid transparent;
    }
    &:after {
      right: -22.2222222222px;
      border-top: 22.2222222222px solid #684000;
      border-bottom: 22.2222222222px solid transparent;
      border-right: 22.2222222222px solid transparent;
    }
  }
  .main-mast {
    width: 2.5px;
    height: 100px;
    background-color: #684000;
    position: absolute;
    right: 20%;
    bottom: 22.2222222222px;
    z-index: 2;
  }
  .main-course {
    width: 50px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    right: 20%;
    top: -95.2380952381px;
    border-top-left-radius: 100%;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 110%;
      height: 2.5px;
      background-color: #684000;
    }
  }
  .fore-course {
    position: absolute;
    right: -2.2222222222px;
    top: -117.6470588235px;
    border-bottom: 80px solid #fff;
    border-right: 22.2222222222px solid transparent;
    border-top: 21.0526315789px solid transparent;

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
      height: 15px;
      background-color: red;
    }
  }
  .flag {
    background-color: red;
    position: absolute;
    top: -100px;
    right: 4px;
    width: 16.6666666667px;
    height: 6.6666666667px;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes ship {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes ship {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}