.coordinate-grid{
  margin-top: 20px;
  width: 300px;
  height: 290px;
  display: flex;
  text-align: center;
}
.markupY{
  width: 25px;
  height: 25px;
  margin: 1px;
  text-align: center;
  vertical-align: middle;
}
.user-name{
  margin-top: 0px;
}
.error{
  margin-left: 20px;
  font-weight: bold;
  color: black;
}
.game__header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.clear{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}
.square_number {
  width: 25px;
  height: 25px;
  display: inline-block;
}