<div class="game__header">
  <span class="user-name">{{user}}</span>
  <span 
    class="clear" 
    (click)="clearShips()" 
    *ngIf="isClear">
    Сlear
  </span>
</div>
<div class="coordinate-grid">
  <div>
    <div class="markupY"
       *ngFor="let mY of markupY">
      <span>{{mY}}</span>
    </div>
  </div>
  <div *ngFor="let coordinate of coordinates; let mX = index">
    <span class="square_number">{{markupX[mX]}}</span>
    <app-grid-square
      (onClickSquare)="putShip()"
      (onMouseenterSquare)="hoverSquare($event)"
      *ngFor="let square of coordinate"
      [squareData]="square"
      [userStatus]="userStatus">
    </app-grid-square>
  </div>
</div>
<span class="error" *ngIf="isError">{{errorMsg}}</span>