.battlefield{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 350px;
  &_ocean{
    background-image: url('/assets/images/ocean.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    min-height: 670px;
    @media(max-width: 856px) {
      background-image: none;
    }
  }
  &_menu{
    list-style: none;
    padding: 20px 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    position: absolute;
    top: 0px;
    right: 10%;
    li{
      margin-left: 30px;
    }
  }
  &_submenu {
    list-style: none;
    padding: 0px;
    margin: 10px 0px 0px;
    position: absolute;
    right: 0px;
    width: 100%;
    background: white;
    min-width: 400px;
    min-height: 300px;
    max-height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
    border-radius: 4px;
    overflow: auto;
    li {
      margin: 0px;
    }
  }
  &_btn {
    font-size: 16px;
    background: none;
    border: 0px;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid;
    padding: 0px;
    &:hover {
      border-bottom: 1px solid transparent;
    }
    &[disabled] {
      cursor: unset;
      border-bottom: 1px solid transparent;
    }
    &.close {
      & + .battlefield_submenu{
        display: none;
      }
    }
    &.open {
      border-bottom: 1px solid transparent;
      color: #0049af;
    }
  }
}
.game__middle{
  min-width: 240px;
}