<div class="battlefield_ocean"></div>
<ul class="battlefield_menu">
  <li>
      <button class="battlefield_btn"   
      [disabled]="!visibilityTools"
      (click)="status=!status"  
      [ngClass]="status ? 'open' : 'close'">History of moves</button>
      <ul class="battlefield_submenu">
        <li> 
            <app-battle-history
            *ngIf="visibilityTools"></app-battle-history>
        </li>
      </ul>
  </li>
  <li>
    <button class="battlefield_btn" [disabled]="!visibilityTools">Give up</button>
  </li>
</ul>
<div class="battlefield">
  <app-coordinate-grid
  [user]="player"
  [userStatus]="playerStatus"></app-coordinate-grid>
  <div class="game__middle">
    <app-ships
    (onStartGame)="hiddenShipsTools()"
    *ngIf="!visibilityTools"></app-ships>
  </div>
  <app-coordinate-grid
  [user]="enemy"
  [userStatus]="enemyStatus"></app-coordinate-grid>
</div>
<app-game-tips></app-game-tips>
