.ships{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  margin: 20px;
}
.ship{
  margin: 5px;
  padding: 5px;
  border: 1.5px solid transparent;
  cursor: pointer;
}
.selectedShip{
  border: 1.5px solid grey;
}
.button-ships{
  margin: 10px;
}
.tips {
  background: white;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
}
.game__btn {
  margin-top: 10px;
}
.battlefield_timer {
  text-align: center;
  font-size: 35px;
  margin: 0px 0px 10px;
}