<div class="ships">
  <span class="tips" *ngIf="isTips">To turn the ship, press the "space".</span>
  <div class="battlefield_timer">
    {{timer}}
  </div>
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.battleship"
    [ngClass]="{ selectedShip: selectedShip?.type === 'battleship'}"
    (onSelectShip)="selectShip($event)"></app-ship>
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.cruiser"
    [ngClass]="{ selectedShip: selectedShip?.type === 'cruiser'}"
    (onSelectShip)="selectShip($event)"></app-ship>
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.destroyer"
    [ngClass]="{ selectedShip: selectedShip?.type === 'destroyer'}"
    (onSelectShip)="selectShip($event)"></app-ship>
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.torpedoBoat"
    [ngClass]="{ selectedShip: selectedShip?.type === 'torpedoBoat'}"
    (onSelectShip)="selectShip($event)"></app-ship>
  <button mat-fab color="primary"
    class="game__btn"
    [disabled]="readyBtn"
    (click)="startGame()">GO</button>
</div>

