@font-face {
  font-family: 'Lato Regular';
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro Regular';
  src: url('./assets/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro Bold';
  src: url('./assets/fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html, body {  }
body {
  background: #ecfcff;
  margin: 0; 
  font-family: 'Lato Regular', sans-serif;
  color: #3a3939;
}
h1 {
  margin: 40px 0px;
  font-family: 'SourceCodePro Bold', monospace;
}